		</div>
		<p class="footer">
			<a href="##ROOT_PATH##index.html">Home</a> | <a href="##ROOT_PATH##about.html">About</a> | <a href="mailto:contact@bjoreman.com">Mail me</a> | <a href="http://www.twitter.com/bjoreman">@bjoreman</a>
		</p>
	</body>
</html>