<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>##TITLE##</title>
	<link rel="stylesheet" type="text/css" href="##ROOT_PATH##styles/style.css">
	<link rel="alternate" title="RSS" href="##ROOT_PATH##rss.rss" type="application/rss+xml">
	<meta name="viewport" content="width=900">
</head>
<body>
	<a href="##ROOT_PATH##index.html"><div class="masthead">
		<!--<h1>i, Developer</h1>-->
	</div></a>
	<h1>##TITLE##</h1>
	<div class="content">