<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>##TITLE##</title>
		<link>##BASE_URL####RSS_FILENAME##</link>
		<description>##DESCRIPTION##</description>
		<language>##LANGUAGE##</language>
		<managingEditor>##EDITOR##</managingEditor>
		<webMaster>##WEBMASTER##</webMaster>
		<ttl>30</ttl>
		<atom:link href="##BASE_URL####RSS_FILENAME##" rel="self" type="application/rss+xml" />
		##CONTENT##
	</channel>
</rss>